!!!
%html{"ng-app" => "todo"}
  %head
    %title Todo
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container
      - if user_signed_in?
        %header.container
          .nav.pull-right
            = link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: 'navbar-link'
      = render 'layouts/messages'
      %main.container{role: "main", class: "#{user_signed_in? ? '' : 'devise'}"}

        = yield

.footer
  .container &copy; Ruby Garage